%div{:id => "#{dom_id product}"}
  %p
    %strong Title:
    = product.title
  %p
    %strong Description:
    = product.description
  %p
    %strong Image url:
    = product.image_url
  %p
    %strong Price:
    = product.price
