- if notice
  %aside#notice.alert.alert-primary.alert-dismissible.fade.show= notice
.container-fluid.m-0.p-0.text-center.p-3.row
  .row.d-flex.justify-content-center.col-10
    - @products.each do |product|
      .card.m-2{:style => "width: 18rem;"}
        =image_tag product.image_url, class: 'card-img-top'
        .card-body
          %h5.card-title= product.title
          %p.card-text= product.description
          %p.card-text
            = number_to_currency(product.price) 
          = button_to "Add to cart", line_items_path(product_id: product), :class => "btn btn-secondary m-3"  
  .container.cart-contain.col-2
    .title.d-flex.justify-content-center.p-2
      %h3.m-2 Cart
      %i.fa.fa-shopping-cart.fs-2.m-2{"aria-hidden" => "true"}
